.policy__header {
  padding-top: 1.5rem;
  padding-bottom: 6rem;

  @media (max-width: em(992)) {
    padding-bottom: 3rem;
  }

  &-wrapper {
    display: flex;
    align-items: center;

    @media (max-width: em(767)) {
      flex-direction: column;
      align-items: initial;
    }
  }

  &-info {
    position: relative;
    margin-right: 2rem;
    padding-left: 1.5rem;
    font-size: fluid-font(1.8rem, 1.6rem);
    color: var(--clr-default-500);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 0.1rem;
      height: 100%;
      background-color: var(--clr-default-900);

      @media (max-width: em(767)) {
        display: none;
      }
    }

    @media (max-width: em(767)) {
      margin-right: initial;
      margin-bottom: 2rem;
      padding-left: initial;
    }
  }

  &-btn {
    margin-left: auto;

    @media (max-width: em(767)) {
      margin-left: initial;
      max-width: 19rem;
    }

    @media (max-width: em(575)) {
      border: 0.15rem solid var(--clr-default-600);
      color: var(--clr-default-600);
    }
  }
}