.experts {

  &__wrapper {
    display: flex;
    align-items: center;

    @media (max-width: em(1200)) {
      flex-direction: column;
    }
  }

  &__content {
    margin-right: 2rem;
    max-width: 38rem;

    @media (max-width: em(1200)) {
      margin-right: initial;
      margin-bottom: 3rem;
      max-width: initial;
    }
  }

  &__title {
    margin-bottom: 2.5rem;
  }

  &__text {
    margin-bottom: 3rem;
  }

  &__button {
    max-width: 24rem;
  }

  &__teacher {
  }

  &__list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: em(1200)) {
      grid-gap: 1.5rem;
    }

    @media (max-width: em(992)) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: em(767)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
    min-width: 18rem;
    max-height: 18rem;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        .experts__item-info {
          transform: translateY(0);
          transition: transform var(--transition);
        }
      }
    }

    &:focus {
      .experts__item-info {
        transform: translateY(0);
        transition: transform var(--transition);
      }
    }

    @media (max-width: em(575)) {
      min-width: 14rem;
    }
  }

  &__item-img {
    max-width: 18rem;

    @media (max-width: em(575)) {
      min-width: 14rem;
    }
  }

  &__item-info {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2rem;
    width: 100%;
    min-height: 100%;
    background-color: var(--clr-primary-550);
    transform: translateY(-100%);
    transition: transform var(--transition);

    @media (max-width: em(575)) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
    }
  }

  &__item-name {
    margin-bottom: 0.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--clr-primary-600);

    @media (max-width: em(375)) {
      font-weight: 400;
      font-size: 1.2rem;
    }
  }

  &__item-prof {
    margin-bottom: 2rem;
    line-height: 120%;
    text-align: center;
    color: var(--clr-default-250);

    @media (max-width: em(575)) {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }
  }

  &__item-text {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 120%;
    text-align: center;
    color: var(--clr-default-250);

    @media (max-width: em(575)) {
      margin-bottom: 0.5rem;
    }
  }

  &__statistic-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__statistic {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      margin-bottom: 0.5rem;
      font-weight: 700;
      color: var(--clr-default-100);
    }

    p {
      font-size: 1.4rem;
      color: var(--clr-default-100);
    }
  }
}
