.hero {
  padding-top: 6rem;

  @media (max-width: em(992)) {
    padding-top: 5rem;
  }

  @media (max-width: em(767)) {
    padding-top: 3rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @media (max-width: em(992)) {
      flex-direction: column;
    }
  }

  &__content {
    margin-right: 2rem;
    max-width: 58rem;

    @media (max-width: em(1200)) {
      max-width: 55rem;
    }

    @media (max-width: em(992)) {
      margin-right: initial;
      margin-bottom: 5rem;
      max-width: initial;
    }

    @media (max-width: em(575)) {
      margin-bottom: 3rem;
    }
  }

  &__title {
    margin-bottom: 2.5rem;
    font-weight: 700;
    font-size: fluid-font(4.4rem, 2.2rem);
    line-height: 115%;
  }

  &__text {
    margin-bottom: 5rem;

    @media (max-width: em(767)) {
      margin-bottom: 3rem;
    }

    @media (max-width: em(575)) {
      margin-bottom: 2rem;
    }
  }

  &__form {
    display: flex;

    @media (max-width: em(575)) {
      flex-direction: column;
    }
  }

  &__input-wrapper {
    position: relative;
    display: flex;
    margin-right: 3rem;
    min-width: 34rem;
    min-height: 5.5rem;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 2.4rem;
      height: 2.4rem;
      background-image: url(../img/hero/mail.svg);
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }

    @media (max-width: em(767)) {
      min-width: 25rem;
    }

    @media (max-width: em(575)) {
      margin-right: initial;
      margin-bottom: 3rem;
      min-height: 5rem;
    }
  }

  &__input-mail {
    outline: none;
    border-bottom: 0.2rem solid var(--clr-default-600);
    padding-right: 1.5rem;
    padding-left: 4rem;
    min-width: 100%;

    &::placeholder {
      font-size: fluid-font(1.8rem, 1.6rem);
      color: var(--clr-default-600);
    }
  }

  &__button {
  }

  &__image {
  }
}
